



.carousel-container {
    background-color: #333;
}


.carousel-header {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
}

.carousel-control-prev {
    position: absolute;
    left: -50px;
}

.carousel-control-next {
    position: absolute;
    right: 50px;
}

.card {
    margin-bottom: 30px;
    margin-top: 0;
}
.card-outline {
    border: none;
}

.carousel-control-next,
.carousel-control-prev {
    margin: 0;
}

.connect-w-us {
    color: #fff;
}

.question {
    margin-top: 40px;
}

.text-comment {
    margin-top: 40px;
}

form {
    margin: 30px;
}


.sign-box {
    border: solid lightgrey 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.display-4 {
    text-align: center;
}

.junction-logo-sign{
    width: 200px;
}