.toolbar-logo {
    max-height: 30px;
    padding-left: 40px;
    padding-right: 8px;
    font-size: 2em;
}


.navbar-light {
    border-bottom: 1px solid #E5E9EF;
    text-align: right;
}

.navbar-nav {
    text-align: right;
    padding: 0 40px;
}

.navbar-toggler {
    margin-right: 40px;
}

.dropdown-menu.show {
    top: 48px;
    text-align: right;
}

.login-toggler {
    padding-right: 40px;
}

.bg {
    background: url('../img/digitalcrafts-group-2.jpg') no-repeat center center;
    background-color: #121212;
    background: cover;
    position: fixed;
    width: 100%;
    height: 350px;
    top: 60px;
    left:0;
    z-index: -1;
}

.jumbotron {
    background-color: transparent;
    height: 400px;
    margin-bottom: 0;
}

.push-it-all-down {
    margin-top: 75px;
}

.dc-junction-logo {
   width: 100%;
}

.background-white {
    background-color: #fff;
    display: block;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.carousel-container {
    background-color: #333;
}


.carousel-header {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
}

.carousel-control-prev {
    position: absolute;
    left: -50px;
}

.carousel-control-next {
    position: absolute;
    right: 50px;
}

.card {
    margin-bottom: 30px;
    margin-top: 0;
}
.card-outline {
    border: none;
}

.carousel-control-next,
.carousel-control-prev {
    margin: 0;
}

.connect-w-us {
    color: #fff;
}

.question {
    margin-top: 40px;
}

.text-comment {
    margin-top: 40px;
}

form {
    margin: 30px;
}


.sign-box {
    border: solid lightgrey 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.display-4 {
    text-align: center;
}

.junction-logo-sign{
    width: 200px;
}